<div class="position-absolute w-100 h-100 d-flex flex-column align-items-center justify-content-center" *ngIf="loading">
    <div class="spinner-border" role="status"></div>
</div>
<div class="container-fluid">
    <div class="row align-items-start row-height justify-content-center" *ngIf="!loading">
        <div class="col-2 m-3 justify-content-center">
            <div class="search">
                <input type="text" class="search-input" placeholder="Search posts" [(ngModel)]="search"
                    (ngModelChange)="filterResults()">
                <div>
                    <svg *ngIf="this.search===''" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search search-icon" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                    <svg *ngIf="this.search!==''" (click)="clearSearch()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-x-circle-fill search-icon clickable" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                    </svg>
                </div>
            </div>
            <select class="form-control sort-select" name="selectAction" placeholder="Sort by..." id="selectAction" (change)="selectOrderKey(orderKey.value)" #orderKey>
                <option selected disabled hidden>Sort by...</option>
                <option *ngFor="let sortKey of sortKeys" [value]="sortKey.id">
                    {{sortKey.displayValue}}
                </option>
            </select>

            <div class="current-user-box">
                <h5>Welcome</h5>
                <select class="form-control user-select" name="selectAction" id="selectUser" [ngModel]="this.userService.currentUser.id" (change)="selectUser(user.value)" #user>
                    <option *ngFor="let user of this.userService.users" [value]="user.id">
                        {{user.name}}
                    </option>
                </select>
                <button type="button" class="btn btn-primary post-button" (click)="openInputModal()">Create new post !</button>
            </div>

        </div>

        <div class="col-5 pt-3 post-list">
            <div class="scrollable">
                <div class="card mb-3" *ngFor="let post of filteredPosts; let i = index">
                    <h5 class="card-header">{{post.username}}</h5>
                    <div class="card-action-icons" *ngIf="this.userService.currentUser.id===post.userId">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-fill edit-icon" viewBox="0 0 16 16" (click)="openInputModal(post)">
                            <path
                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x-circle-fill delete-icon" viewBox="0 0 16 16"
                            (click)="openDeleteDialog(post)">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                    </div>

                    <div class="clickable" (click)="openPostPage(post)">
                        <div class="card-body">
                            <h5 class="card-title">{{post.title}}</h5>
                            <p class="card-text">{{post.body}}</p>
                        </div>
                    </div>
                    <h3 *ngIf="i < posts.length - 1" class="pb-3 border-bottom "></h3>
                </div>
            </div>
        </div>

        <!-- <div class="col m-3 user-list">
            <h3 class="user-list-title">Select a user</h3>
            <ul class="list-group" *ngFor="let user of this.userService.users; let i = index">
                <li class="list-group-item active user-list-name" aria-current="true">{{user.name}}</li>
                <li class="list-group-item">A second item</li>
                <li class="list-group-item">A third item</li>
                <li class="list-group-item">A fourth item</li>
                <li class="list-group-item">And a fifth one</li>
            </ul>

            <div class="user-card" *ngFor="let user of this.userService.users; let i = index">
                <h3 class="border-bottom"></h3>
                <div class="clickable" (click)="this.selectUser(user.id)">
                        <p class="user-list-name">{{user.name}}</p>
                </div>
            </div>
        </div> -->
    </div>
</div>